{% extends "base_admin.html" %}

{% block content%}
<div class="newclass">
  <div class="new-title">
    <h1> Thêm mới lớp học </h1>
  </div>  
  <div class="form-newclass">
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
        <div class="new-input">
          <p style="margin-right: 15px ;">{{ form.TenLop.label}}  </p>
          <p> {{ form.TenLop(size=28)}} </p>
        </div>
     
        <div class="danhsach-new">
          <p style="font-weight: 600;">Chọn sinh viên cho lớp :</p>
          <div class="dssinhvien">
          {%for u in users%}
          <div class="sinhvien">
            <p> {{u['Name']}} <input type="checkbox" name={{u['id']}}></p>
          </div>
          {% endfor%}
        </div>
        </div>
        <div class="submitthem">
            <p>
                {{ form.submit() }}
            </p>
        </div>
  </form>           
</div>   
</div>
{% endblock%}