{% extends "base.html" %}

{% block content%}


<div class="register-form">
    <div class="form-header">
        <h1> Register </h1>
    </div>
    <div class="form-body">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="username">
            <p> {{ form.r_username.label}}</p>
            <p>{{ form.r_username(size=28)}}</p>
        </div>
        <div class="pass">
        <p>
            {{ form.r_password.label}}</p>
            <p>  {{ form.r_password(size=28)}}</p>
        
        </div>
        <div class="pass">
        
        <p> {{ form.r_passwordrepeat.label}}</p>
         <p>{{ form.r_passwordrepeat(size=28)}}</p>
        
         </div>
         <div class="pass">
        
            <p>   {{ form.r_email.label}} </p>
            <p>   {{ form.r_email(size=28)}} </p>
       
        </div>
        <div class="submit">
        <p>
            {{ form.submit() }}     
          </p>
        </div>  
         </div>
    </form>  
</div>         
{% endblock%}